.no-top-pad {
  padding-top: 0px !important; }

.no-top-bot-pad {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

body{
  font-size: 14;
}

/*
* Forms
*/
.form-control{
  font-size: 14;
}

.inline{
  display: inline-block;
}
/*
* Navbar
*/
#navbar{
  position: fixed;
}

/*
* Sidebar
*/
#mainnav-container{
  position: fixed;
}
